<style>
table.GeneratedTable {
  width: 100%;
  background-color: #030303;
border-collapse: separate;
  border-width: 2px;
  border-color: #7d2ef5;
  border-style: solid;
  color: #fcfcfc;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #7d2ef5;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #7d2ef5;
}
</style>